{% extends "main.html" %}

{% block content %}
  <section class="section">
    <form class="form-horizontal" action="{{ form_action }}" method="post">
      {% csrf_token %}

      <h1 class="title">{{ form_title }}</h1>

      <div class="field">
        <div class="help is-danger">{{ form.name.errors }}</div>
        <div class="label">{{ form.name.label_tag }}</div>
        <div class="control">{{ form.name }}</div>
      </div>

      <div class="field">
        <div class="label">{{ form.text.label_tag }}</div>
        <div class="control">{{ form.text }}</div>
        <div class="help is-danger">{{ form.text.errors }}</div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <input type="submit" value="Сохранить" class="button is-warning"/>
        </div>
        <div class="control">
          <a class="button is-text"
             href="javascript:history.back()">Отменить</a>
        </div>
      </div>
    </form>
  </section>
{% endblock content %}
