{% extends "main.html" %}

{% block content %}
  <section class="section">
    <h1 class="title">{{ object }}</h1>
    <h2 class="is-size-7">
      <span>{{ object.author }} | {{ object.created_at }}</span>
    </h2>
    {% if user.is_authenticated %}
      <div class="buttons has-margin-top">
        <a class="button is-warning" href="{{ object.get_update_url }}">
          <strong>Редактировать</strong>
        </a>
        <form method="post" action="{{ object.get_delete_url }}">
           {% csrf_token %}
          <input class="button is-danger" type="submit" value="Удалить">
        </form>
      </div>
    {% endif %}
    {% if object.image %}
      <figure class="image is-4by3 has-margin-top">
        <img src="{{ object.image.url }}">
      </figure>
    {% endif %}
    <p class="content has-margin-top">{{ object.text|linebreaksbr }}</p>
  </section>
{% endblock content %}
