{% extends "main.html" %}

{% block content %}
  {% for object in object_list %}
    <section class="section">
      <h2 class="is-size-7">
        <span>{{ object.author }} | {{ object.created_at }} | {{ object.views }}</span>
      </h2>
      <h1 class="title">
        <a href="{{ object.get_absolute_url }}" class="has-text-grey-darker	has-text-underline">
          {{ object }}
        </a>
      </h1>
      <p class="content">{{ object.text|truncatewords:50 }}</p>
    </section>
  {% endfor %}
{% endblock content %}
