{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Статьи-статейки</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace">
  <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />

  <style>
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    #wrapper {
      flex: 1 0 auto;
    }

    .has-text-brand {
      font-family: 'Covered By Your Grace', cursive;
    }
    .has-margin-top {
      margin-top: 1rem;
    }
  </style>
</head>
<body class="has-navbar-fixed-top has-background-white-ter">
  {% block body %}
    {% block header %}
      {% include "helpers/_header.html" %}
    {% endblock header %}
    <div id="wrapper">
      <div class="columns is-centered has-background-white">
        <div class="column is-one-third">
          {% block content %}
          {% endblock content %}
        </div>
      </div>
    </div>
    {% block footer %}
      {% include "helpers/_footer.html" %}
    {% endblock footer %}
  {% endblock body %}
</body>
</html>
